@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto elevador</h1>
    <p>Trabalho de conclusão do curso <b>"Formação MS-DEV"</b>da Ocean Brasil.</p>
    <h2>Escopo do projeto</h2>
</div>
<div class="text-justified">
    <p>Aplicar o conhecimento adquirido no curso para criar um software interativo que tem como função o gerenciamento de um elevador, tendo as funções inicializar, entrar, sair, subir e descer</p>
</div>
<div class="text-center">
    <h2>Funcionamento</h2>
</div>
<div class="text-justified">
<p>O programa tem uma classe "main" denominada Elevador que armazena as informações pertinentes a um elevador dentro de um prédio tais como o total de andares no prédio, a capacidade do elevador e quantas pessoas estão presentes.</p>
<p style="text-align:justify"><img alt="" src="/Imagens/ClasseElevador.PNG"/ height="200" width="400"></p>
<p>A classe Elevador disponibiliza os seguintes métodos:</p>
<ul>
<li>Inicializar: Recebe do usuário os parâmetros capacidade do elevador e total de andares no prédio;</li>
<p style="text-align:justify"><img alt="" src="/Imagens/Parametros.PNG"/ height="200" width="400"></p>
<li>Entrar : Permite ao usuário acrescentar pessoas no elevador, dentro da capacidade por ele estabelecida;</li>
<li>Sair : Permite ao usuário remover pessoas do elevador, consoante com número de ocupantes por ele determinado;</li>
<p style="text-align:justify"><img alt="" src="/Imagens/SairEntrar.PNG"/ height="200" width="400"></p>
<li>Subir : Permite ao usuário mover o elevador para andares superiores ao atual entre o andar inicial "0" (térreo) e o topo do prédio;</li>
<p style="text-align:justify"><img alt="" src="/Imagens/Subir.PNG"/ height="200" width="400"></p>
<li>Descer : Permite ao usuário mover o elevador para andares inferiores ao atual até o térreo.</li>
</ul>
<p>O usuário fornece todos os paramentros e comandos digitando dados númericos em resposta a perguntas feitas pelo software.</p>
<p>O software emite mensagens de erro para o usuário caso os comandos fornecidos excedam a capacidade do elvador, extrapolem os limites do prédio ou levem a situações que não façam sentido (total de passageiros negativo ou mover o elevador para um andar onde já se encontra, por exemplo).</p>
</div>
<p style="text-align:justify"><img alt="" src="/Imagens/ErroTotal.PNG"/ height="200" width="400"></p>

